{% extends "base.html" %}
{% load staticfiles %}

{% block includes %}
  <style type="text/css">
    .row-pad-md {
        padding-top:5px;
        padding-bottom:5px;
    }
    .row-pad-lg {
        padding-top:15px;
        padding-bottom:15px;
    }
  </style>
{% endblock %}

{% block content %}

  <div class="container">
    <ol class="breadcrumb">
    </ol>
    <div id="teams-page">
      <div id="teams">
      </div>

      <div class="row row-pad-md">
        <div class="col-xs-12">
          <button class="btn btn-default" onclick="teamsPage.onAddTeamButtonClick()">+</button>
        </div>
      </div>

      <div class="row row-pad-lg">
        <div class="col-xs-12">
          <button class="btn btn-lg btn-primary" onclick="teamsPage.onPlayButtonClick()">Play</button>
        </div>
      </div>
    </div> <!-- Teams page -->
    <div id="play-page" style="display: none;">
    </div> <!-- Play page -->
    <script>
        {% include "DuplicateBridge.js" %}
    </script>
{% endblock %}
