{% extends "base.html" %}
{% load staticfiles %}

{% block includes %}
  <style type="text/css">
    .row-pad-md {
        padding-top:5px;
        padding-bottom:5px;
    }
    .row-pad-lg {
        padding-top:15px;
        padding-bottom:15px;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="container">
    <ol class="breadcrumb">
    </ol>
    <div id="teams-page">
      <div id="teams">
      </div>

      <div class="row row-pad-md">
        <div class="col-xs-12">
          <button class="btn btn-default" onclick="teamsPage.onAddTeamButtonClick()">+</button>
        </div>
      </div>

      <div class="row row-pad-lg">
        <div class="col-xs-12">
          <button id="play-button" class="btn btn-lg btn-primary" onclick="teamsPage.onPlayButtonClick()">Play</button>
        </div>
      </div>
    </div> <!-- Teams page -->
    <div id="play-page" style="display: none;">
      <div class="panel with-nav-tabs panel-default">
        <div class="panel-heading" style="padding-bottom:0px;">
          <ul id="round-tabs" class="nav nav-tabs">
          </ul>
        </div>
        <div id="round-tab-container" class="panel-body">
        </div>
      </div>
      <h3>Total Scores</h3>
    </div> <!-- Play page -->
    <script>
        {% include "DuplicateBridge.js" %}
    </script>
{% endblock %}
